<div class="row" style="margin-top:80px;">
  <div class="col-lg-4 col-sm-4 col-md-4">
    <center>
    <img class="img-circle" src="/img/Groups-Rescuers-Light-icon.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>Persons</h2>
    <p><a class="btn btn-default" href="/stats/persons" role="button">View All »</a></p>
    </center>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 col-sm-4 col-md-4">
    <center>
    <img class="img-circle" src="/img/bullet-2-icon.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>Hits</h2>
    <p><a class="btn btn-default" href="/stats/hits" role="button">View All »</a></p>
    <center>
  </center></center></div><!-- /.col-lg-4 -->
  <div class="col-lg-4 col-sm-4 col-md-4">
    <center>
    <img class="img-circle" src="/img/lock-icon.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <h2>Credentials</h2>
    <p><a class="btn btn-default" href="/stats/credentials" role="button">View All »</a></p>
    <center>
  </center></center></div><!-- /.col-lg-4 -->
</div>